<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="API Suite">

    <listeners>
        <listener class-name="Utils.ExtentConfigReport"/>
    </listeners>
    <test name="API Tests">
        <classes>
            <class name="Helper.ApiHelper"/>
        </classes>

    </test>
</suite>